<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class='btn-group pull-right'>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <input type="submit" value="&nbsp;&nbsp;Salvar&nbsp;&nbsp;" class="btn btn-primary pull-right">
            </div>

            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <a href="javascript:history.go(-1)" class="btn btn-primary pull-right">Cancelar</a>
            </div>      
        </div>
    </div>
</div>