{include file="cabecalho.tpl" titulo="Editando administrador"}
{include file="menu-1.tpl"}
{include file="alertas.tpl"}

	<script src="{$base_url}/assets/js/administrador.js" defer></script>

	<section class="container-fluid">
		<header class="page-header">
			<div class="row">
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<h1>Editando administrador</h1>
				</div>

				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="btn-group pull-right">
						<a href="{$base_url}administrador" class="btn btn-primary" title="Visualizar todos">Visualizar todos</a>
						<a href="{$base_url}administrador/cadastrar" class="btn btn-primary" title="Cadastrar">Cadastrar</a>
					</div>
				</div>
			</div>
		</header>

		<nav>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#entrada" title="Entrada" data-toggle="tab">Entrada</a></li>
				<li><a href="#permissoes" title="Permissões" data-toggle="tab">Permissões</a></li>
			</ul>
		</nav>

		<form action="{$base_url}administrador/fazerEdicao" method="post" id="formulario_editar_administrador">
			<input type="hidden" id="codigo_empresa_editar_administrador" value="{$codigo_empresa}">

		<div class="tab-content">
			<div class="tab-pane active" id="entrada">
				<br>
				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<label>Nome da empresa *</label>
								<input type="text" id="nome_empresa_editar_administrador" placeholder="Digite o nome da empresa" class="form-control" autofocus="yes" value="{$nome_empresa}" autocomplete="yes">
								<span class="alerta_formulario" id="alerta_nome_empresa_editar_administrador"></span>
							</div>
						</div>

						<br>

						<div class="row">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<label>Usuário *</label>
								<input type="text" id="usuario_editar_administrador" value="{$usuario_conta}" placeholder="Digite seu nome de usuário" class="form-control" autocomplete="yes">
								<span class="alerta_formulario" id="alerta_usuario_editar_administrador"></span>
							</div>
						</div>

						<br>

						<div class="row">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<label>Senha *</label>
								<input type="password" id="senha_editar_administrador" value="{$senha_conta}" placeholder="Digite sua senha" class="form-control" autocomplete="yes">
								<span class="alerta_formulario" id="alerta_senha_editar_administrador"></span>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- entrada -->

			<div class="tab-pane" id="permissoes">
				<br>

				{if $permissao_conta_empresa === '1' && $permissao_produto_empresa === '1' && $permissao_financeiro_empresa === '1' && $permissao_colaborador_empresa === '1' && $permissao_cliente_empresa === '1' && $permissao_fornecedor_empresa === '1' && $permissao_estoque_empresa === '1' && $permissao_servico_empresa === '1'}
					<input type="checkbox" id="selecionar_todos_permissao_editar_administrador" checked="checked">
				{else}
					<input type="checkbox" id="selecionar_todos_permissao_editar_administrador">
				{/if}
				<span>Selecionar todos</span><br>

				<br>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{if $permissao_conta_empresa === '1'}
									<input type="checkbox" name="permissao_conta" id="permissao_conta_editar_administrador" checked="checked">
								{else}
									<input type="checkbox" name="permissao_conta" id="permissao_conta_editar_administrador">
								{/if}
								<span>Conta</span><br>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

								{if $permissao_produto_empresa === '1'}
									<input type="checkbox" name="permissao_produto" id="permissao_produto_editar_administrador" checked="checked">
								{else}
									<input type="checkbox" name="permissao_produto" id="permissao_produto_editar_administrador">
								{/if}
								<span>Produto</span><br>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

								{if $permissao_financeiro_empresa === '1'}
									<input type="checkbox" name="permissao_financeiro" id="permissao_financeiro_editar_administrador" checked="checked">
								{else}
									<input type="checkbox" name="permissao_financeiro" id="permissao_financeiro_editar_administrador">
								{/if}
								<span>Finânceiro</span><br>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{if $permissao_colaborador_empresa === '1'}
									<input type="checkbox" name="permissao_colaborador" id="permissao_colaborador_editar_administrador" checked="checked">
								{else}
									<input type="checkbox" name="permissao_colaborador" id="permissao_colaborador_editar_administrador">
								{/if}
								<span>Colaborador</span><br>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

								{if $permissao_cliente_empresa === '1'}
									<input type="checkbox" name="permissao_cliente" id="permissao_cliente_editar_administrador"checked="checked">
								{else}
									<input type="checkbox" name="permissao_cliente" id="permissao_cliente_editar_administrador">
								{/if}
								
								<span>Cliente</span><br>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{if $permissao_fornecedor_empresa === '1'}
									<input type="checkbox" name="permissao_fornecedor" id="permissao_fornecedor_editar_administrador" checked="checked">
								{else}
									<input type="checkbox" name="permissao_fornecedor" id="permissao_fornecedor_editar_administrador">
								{/if}
								<span>Fonecedor</span><br>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{if $permissao_estoque_empresa === '1'}
									<input type="checkbox" name="permissao_estoque" id="permissao_estoque_editar_administrador" checked="checked">
								{else}
									<input type="checkbox" name="permissao_estoque" id="permissao_estoque_editar_administrador">	
								{/if}
								<span>Estoque</span><br>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{if $permissao_servico_empresa === '1'}
									<input type="checkbox" name="permissao_servico" id="permissao_servico_editar_administrador" checked="checked">
								{else}
									<input type="checkbox" name="permissao_servico" id="permissao_servico_editar_administrador">
								{/if}
								<span>Serviço</span><br>
							</div>
						</div>
							
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{if $permissao_banco_empresa === '1'}
									<input type="checkbox" name="permissao_banco" id="permissao_banco_editar_administrador" checked="checked">
								{else}
									<input type="checkbox" name="permissao_banco" id="permissao_banco_editar_administrador">
								{/if}
								<span>Banco</span><br>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								{if $permissao_centro_custo_empresa === '1'}
									<input type="checkbox" name="permissao_centro_custo" id="permissao_centro_custo_editar_administrador" checked="checked">
								{else}
									<input type="checkbox" name="permissao_centro_custo" id="permissao_centro_custo_editar_administrador">
								{/if}
								<span>Centro de Custo</span><br>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- permissoes -->
		</div>

			<br>
			<input type="submit" value="Salvar alterações" class="btn btn-primary">

		</form>
	</section>
{include file="rodape.tpl"}